<form method="post" action="/categories/<%= @category_id %>/contacts/<%= params[:idx] %>/edit">
  <div class="form-group">
    <label for="contact_firstname" class="control-label">Edit firstname</label>
    <input name="contact_firstname" type="text" placeholder="First Name" value="<%= @contact[:firstname] || params[:firstname] %>" class="form-control">
  </div>
  <div class="form-group">
    <label for="contact_lastname" class="control-label">Edit lastname</label>
    <input name="contact_lastname" type="text" placeholder="Last Name" value="<%= @contact[:lastname] || params[:lastname] %>" class="form-control">
  </div>
  <div class="form-group">
    <label for="contact_phone" class="control-label">Edit phone number</label>
    <input name="contact_phone" type="text" placeholder="Phone Number" value="<%= @contact[:phone] || params[:phone] %>" class="form-control">
  </div>
  <div class="form-group">
    <label for="contact_email" class="control-label">Edit email</label>
    <input name="contact_email" type="email" placeholder="Email" value="<%= @contact[:email] || params[:email] %>" class="form-control">
  </div>
  <button type="submit" class="btn btn-primary">Save</button>
  <a href="/categories/<%= @category_id %>">Cancel</a>
</form>
